@page "/Actors/create"

<h3>Create Actors</h3>

<ActorForm OnValidSubmit="Create" Actor="Actor" />

@code {
    private Actor Actor = new Actor();
    void Create()
    {
        Console.WriteLine("Create Actor");
    }
}