@page "/"
@inject ServicesSingleton singleton
@inject IRepositorie repositorie

<PageTitle>Blazor Movies</PageTitle>
<HeadContent>
    <meta name="description" content="Page to show Movies." />
</HeadContent>

<p> Singleton Valor : @singleton.Val</p>
<div>
    <h3>Movies</h3>
    <MovieList @ref="movieList" Movies="Movies" />
</div>

<button @onclick="AddMovie">Add Movies</button>
<button @onclick="ClearMovies">Clear Movies</button>

@code{

    public List<Movie>? Movies { get; set; }
    public MovieList? movieList;
    protected override void OnInitialized()
    {
        Movies = repositorie.GetMovies();
        //movieList.Movies
    }

    private void AddMovie()
    {
        Movies!.Add(new Movie{Title = "New Movie", LaunchDate = DateTime.Today});
    }

    private void ClearMovies()
    {
        movieList!.ClearMovies();
    }
}
