@inject IJSRuntime js

<div style="display: flex; flex-wrap:wrap; align-items: center;">
    <GenericList ListItems="Movies">
        <Registry Context="movie">
            <MovieObject Movie="movie" />
        </Registry>
    </GenericList>
</div>

@code {
    [Parameter]
    [EditorRequired]
    public List<Movie>? Movies { get; set; }
    private async Task DeleteMovie(Movie movie)
    {
        var confirm =
        await js.Confirm($"Do you want to delete the movie {movie.Title}?");
        if (confirm)
        {
            Console.WriteLine($"Delete the movie {movie.Title}");
            Movies!.Remove(movie);
        }
    }
}